.colorPreview {
  position: relative;

  .colorPicker {
    position: absolute !important;
    display:none !important;
    bottom: 0 !important;
    left: 50% !important;
    transform: translate(-15px, 100%);
    z-index: 9999;
  }

  &:hover {

    .colorPicker {
      display: flex !important;
    }

  }
}